html {
  font-size: 10px;
}

.siparis-notu {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}
.siparis{
  font-family: 'Barlow';
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
  margin-bottom: 2rem;
}
.siparis-notu h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.text-area {
  background-color: #FAF7F2;
  width: 100%;
  border-radius: 5px;
  resize: none;
  box-sizing: border-box;
  border: 1.5px solid #b5b4b4;
  height: 5rem;
}
.text-area::placeholder{
  font-family: 'Barlow';
  color: #5F5F5F;
  padding-top: 13px;
  padding-left: 1rem;
  font-size: 12px;
}